# Banco de dados PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/listadechamada"

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend (e-mail)
RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
